/* @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  } */
  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spin-slow {
    animation: spin-slow 6s linear infinite;
  }
  
  
  .animated-gradient-text {
    background: linear-gradient(270deg, purple, indigo, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 5s linear infinite;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 5s linear infinite; */
  }


